@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background: black;
    color: white;
  }

  body {
    @apply overflow-hidden;
  }

  button,
  [role='button'] {
    @apply bg-yellow-600 text-white py-2 px-4 w-full max-w-xs;
  }

  input {
    @apply bg-gray-800 text-white py-1 px-4 w-full max-w-xs;
  }

  details {
    @apply border-white border p-2;
  }
}

@layer components {
}

@layer utilities {
  .sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -9999px;
    left: -9999px;
    clip: rect(1px, 1px, 1px, 1px);
  }
}
